<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block script %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }} ">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{url_for('main_blueprint.index')}">Home</a></li>
        <li><a href="{url_for('auth_blueprint.login')}">signin</a></li>
        <li><a href="{url_for('auth_blueprint.logout')}">signup</a></li>
    </ul>
</nav>
{% block body %}{% endblock %}
</body>
</html>